[Desktop Entry]
Name=Nadeko~don
Comment=Download Manager
Exec=nadekodon
Icon=nadeko-don-512
Type=Application
Categories=Utility;Network;
Terminal=false
