[Desktop Entry]
Name=Nadeko~don
Comment=Download Manager
Exec=nadekodon %U
Icon=nadeko-don
Type=Application
Categories=Utility;Network;
Terminal=false
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
